{% extends 'base.html' %}
{% load bootstrap5 %} 
{% block content %}
<div class="container my-form" >
    <h5 class="my-3 border-bottom pb-2">등록</h5>
    {{ form.media }}
    <form method="post" class="my-form">
        {% csrf_token %} 
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>

</div>
{% endblock %} 

{% block script %}
<script>
    $(document).ready(function () {
        $("#cke_1_contents").css("height", "100%")
     });
</script>
{% endblock script %}
