{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link href={% static 'assets/css/company-detail.css' %} rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.6/chartjs-plugin-zoom.js"></script>


{% endblock css %}

{% block stocks %}
<main
    class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg"
>
    <div class="container">
        <h1 class="text-uppercase ticker-head">{{ticker}} 
            <h3>
                <span
                    class="font-weight-bolder text-2xl"
                    >{{last_stock_price}}</span>
 
                {% if last_diff_val > 0 %}
                <span
                    class="text-success font-weight-bolder"
                    >+{{last_diff_val}}</span
                >
                {% else %}
                <span
                    class="text-danger font-weight-bolder"
                    >{{last_diff_val}}</span
                >
                {% endif %}

                {% if last_pct_val > 0 %}
                <span
                    class="text-success font-weight-bolder"
                    >(+{{last_pct_val}}%)</span
                >
                {% else %}
                <span
                    class="text-danger font-weight-bolder"
                    >({{last_pct_val}}%)</span
                >
                {% endif %}
            </h3>
        </h1>
        <div class="chart Scrollable" id="stock-chart">
            <canvas id="chart-line"></canvas>
        </div>

        <div class="chart Scrollable" id="stock-chart-indi">
            <canvas id="chart-line-indi"></canvas>
        </div>

        <div class="container">
            <button class="btn btn-outline-primary btn-sm mb-0 infoType" value="recommand">Recommandation</button>
            <button class="btn btn-outline-primary btn-sm mb-0 infoType" value="oscill">Oscillator</button>
            <button class="btn btn-outline-primary btn-sm mb-0 infoType" value="macd">Moving Avg</button>
            <button class="btn btn-outline-primary btn-sm mb-0 infoType" value="indicator">Indicators</button>
        </div>


        <div class="container mt-5 macd-days-hidden">
            <button class="btn btn-outline-primary btn-sm mb-0 macd" value="10">10d</button>
            <button class="btn btn-outline-primary btn-sm mb-0 macd" value="20">20d</button>
            <button class="btn btn-outline-primary btn-sm mb-0 macd" value="30">30d</button>
            <button class="btn btn-outline-primary btn-sm mb-0 macd" value="50">50d</button>
            <button class="btn btn-outline-primary btn-sm mb-0 macd" value="100">100d</button>
            <button class="btn btn-outline-primary btn-sm mb-0 macd" value="200">200d</button>
        </div>

        <div class="container mt-5 indicator-days-hidden">
            <button class="btn btn-outline-primary btn-sm mb-0 indi" value="bband">BBand</button>
            <button class="btn btn-outline-primary btn-sm mb-0 indi" value="mfi">Money Flow Index</button>
            <button class="btn btn-outline-primary btn-sm mb-0 indi" value="atr">Average True Range</button>
            <button class="btn btn-outline-primary btn-sm mb-0 indi" value="fi">Force Index</button>
            <button class="btn btn-outline-primary btn-sm mb-0 indi" value="evm">EVM</button>
            <button class="btn btn-outline-primary btn-sm mb-0 indi" value="rsi">RSI</button>

        </div>

        <div class="row">
            <div class="table">
                {% include 'main/company_table.html' %}

            </div>

        </div>
    </div>
</main>

<input type="hidden" id="stock_ticker" name="variable" value="{{ ticker }}"/>

<input type="hidden" id="stock_price" name="variable" value="{{ stock_price }}"/>
<input type="hidden" id="stock_ticker" name="variable" value="{{ ticker }}" />
<input type="hidden" id="stock_fs" name="variable" value="{{ financial }}" />
<input type="hidden" id="stock_bs" name="variable" value="{{ balance }}" />
<input type="hidden" id="stock_cf" name="variable" value="{{ cashflow }}" />




{% endblock stocks %}
{% block script %}
    <script>
        $('.Scrollable').on('DOMMouseScroll mousewheel', function(ev) {
            var $this = $(this),
                scrollTop = this.scrollTop,
                scrollHeight = this.scrollHeight,
                height = $this.height(),
                delta = (ev.type == 'DOMMouseScroll' ?
                    ev.originalEvent.detail * -40 :
                    ev.originalEvent.wheelDelta),
                up = delta > 0;
        
            var prevent = function() {
                ev.stopPropagation();
                ev.preventDefault();
                ev.returnValue = false;
                return false;
            }
        
            if (!up && -delta > scrollHeight - height - scrollTop) {
                // Scrolling down, but this will take us past the bottom.
                $this.scrollTop(scrollHeight);
                return prevent();
            } else if (up && delta > scrollTop) {
                // Scrolling up, but this will take us past the top.
                $this.scrollTop(0);
                return prevent();
            }
        });
    </script>
    
    <script src="{% static 'assets/js/companyChart.js' %}"></script>
    <script src="{% static 'assets/js/displayInfos.js' %}"></script>
    <script src="{% static 'assets/js/getIndicators.js' %}"></script>

    

{% endblock script %}