{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link href={% static 'assets/css/company.css' %} rel="stylesheet" />
{% endblock css %}
{% block unauthuser %}
<main
    class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg"
>
    <!-- End Navbar -->
    <div class="container-fluid mb-10">
        <div class="row my-4  justify-content-center">
            <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
            </div>
        </div>
    </div>

</main>
{% endblock unauthuser %}


{% block script %}
{% endblock script %}