{% extends 'main/base.html' %}
{% load static %}
{% block unauthuser %}
<main
    class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg"
>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row mt-4">
            {% include 'main/infos.html' %}
        </div>
        <div class="row my-4">
            {% include 'main/news_card.html' %}
            {% include 'main/event_table.html' %}
        </div>
    </div>
</main>

{% endblock unauthuser %}

{% block script %}
{% endblock script %}

