<div class="row mb-4">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p
                                class="text-sm mb-0 text-capitalize font-weight-bold"
                            >
                                Nasdaq
                            </p>
                            <h5 class="font-weight-bolder mb-0">
                                {{nasdaq}} {% if nas_pct > 0 %}
                                <span
                                    class="text-success text-sm font-weight-bolder"
                                    >+{{nas_pct}}%</span
                                >
                                {% else %}
                                <span
                                    class="text-danger text-sm font-weight-bolder"
                                    >{{nas_pct}}%</span
                                >
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div
                            class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                        >
                            <i
                                class="ni ni-money-coins text-lg opacity-10"
                                aria-hidden="true"
                            ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p
                                class="text-sm mb-0 text-capitalize font-weight-bold"
                            >
                                Dow
                            </p>
                            <h5 class="font-weight-bolder mb-0">
                                {{dow}} {% if dow_pct > 0 %}
                                <span
                                    class="text-success text-sm font-weight-bolder"
                                    >+{{dow_pct}}%</span
                                >
                                {% else %}
                                <span
                                    class="text-danger text-sm font-weight-bolder"
                                    >{{dow_pct}}%</span
                                >
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div
                            class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                        >
                            <i
                                class="ni ni-world text-lg opacity-10"
                                aria-hidden="true"
                            ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p
                                class="text-sm mb-0 text-capitalize font-weight-bold"
                            >
                                S&P 500
                            </p>
                            <h5 class="font-weight-bolder mb-0">
                                {{snp}}{% if snp_pct > 0 %}
                                <span
                                    class="text-success text-sm font-weight-bolder"
                                    >+{{snp_pct}}%</span
                                >
                                {% else %}
                                <span
                                    class="text-danger text-sm font-weight-bolder"
                                    >{{snp_pct}}%</span
                                >
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div
                            class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                        >
                        <i class="fa fa-signal" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p
                                class="text-sm mb-0 text-capitalize font-weight-bold"
                            >
                                KWR / USD
                            </p>
                            <h5 class="font-weight-bolder mb-0">
                                {{currency}}{% if currency_pct > 0 %}
                                <span
                                    class="text-success text-sm font-weight-bolder"
                                    >+{{currency_pct}}%</span
                                >
                                {% else %}
                                <span
                                    class="text-danger text-sm font-weight-bolder"
                                    >{{currency_pct}}%</span
                                >
                                {% endif %}
                            </h5>
                        </div>


                    </div>
                    <div class="col-4 text-end">
                        <div
                            class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                        >
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
