{% load static %}
<div class="col-lg-8 col-md-6 mb-md-0 mb-4">
    <div class="card">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-lg-6 col-7">
                    <h6>News</h6>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                    <div class="dropdown float-lg-end pe-4">
                        <a
                            class="cursor-pointer"
                            id="dropdownTable"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i class="fa fa-ellipsis-v text-secondary"></i>
                        </a>
                        <ul
                            class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                            aria-labelledby="dropdownTable"
                        >
                            <li>
                                <a
                                    class="dropdown-item border-radius-md"
                                    href="javascript:;"
                                    >Action</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item border-radius-md"
                                    href="javascript:;"
                                    >Another action</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item border-radius-md"
                                    href="javascript:;"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive">
                <table class="table align-items-center mb-0 w-100">
                    <thead>
                        <tr>
                            <th
                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 "
                            >
                                Title
                            </th>
                            
                            <th
                                class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            >
                                Date
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for news in news_list %}
                        <tr>
                            <td style="padding-left:1rem">
                                <div class="d-flex px-2 py-1">
                                    <div
                                        class="d-flex flex-column justify-content-center newsTitle"
                                    >
                                        <h6 class="mb-0 text-sm  d-inline-block text-truncate">
                                            <a 
                                                class="articlTitle" 
                                                title="{{news.title}}"
                                                href="{{news.url}}"
                                                target="_blank"
                                                >
                                                {{news.title}}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </td>
                            <td
                                class="align-middle text-center text-sm"
                                >
                                <span
                                    class="text-xs font-weight-bold"
                                >
                                {{news.date}}
                                </span>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
