{% extends 'main/base.html' %} {% load static %} {% block articles %}
<main
    class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg"
>

    <!-- End Navbar -->
    <div class="container-fluid mb-10">
        <div class="row my-4  justify-content-center">
            <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
                {% include 'main/small_title.html' %}
                <div class="row my-3">
                    <div class="col-4 float-left">
                        {% if user.is_authenticated %}
                        <div class="input-group">
                            <input type="text" id="add_port" placeholder="Portfolio Title" class="form-control" value="">
                            <span class="input-group-text text-body"
                                ><a type="button" href="" id="btn_port">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                </a
                            ></span>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="card w-100">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-7">
                                <h6>Portfolios</h6>
                            </div>
                            <div class="col-lg-6 col-5 my-auto text-end">
                                <div class="dropdown float-lg-end pe-4">
                                    <a
                                        class="cursor-pointer"
                                        id="dropdownTable"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        <i
                                            class="fa fa-ellipsis-v text-secondary"
                                        ></i>
                                    </a>
                                    <ul
                                        class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                                        aria-labelledby="dropdownTable"
                                    >
                                        <li>
                                            <a
                                                class="dropdown-item border-radius-md"
                                                href="javascript:;"
                                                >Action</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                class="dropdown-item border-radius-md"
                                                href="javascript:;"
                                                >Another action</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                class="dropdown-item border-radius-md"
                                                href="javascript:;"
                                                >Something else here</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive w-100">
                            <table class="table align-items-center mb-0 w-100">
                                <thead>
                                    <tr>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                        >
                                            Owner
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                                        >
                                            Title
                                        </th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                        >
                                            Date
                                        </th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                        >
                                            Delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if portfolio %}
                                    {% for port in portfolio %}
                                    {% if request.user == port.author %}
                                    <tr>                                           
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div
                                                    class="d-flex flex-column justify-content-center articleTitle"
                                                >
                                                    <h6 class="mb-0 text-sm  d-inline-block text-truncate">
                                                        {{ port.author.username }}
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-group mt-2">
                                                <h6 class="mb-0 text-sm  d-inline-block text-truncate">
                                                    <a 
                                                        class="articlTitle" 
                                                        href="{% url 'portfolio:detail' port.id %}">
                                                    {{ port.title }}
                                                    </a>
                                                </h6>
                                            </div>
                                        </td>
                                        <td
                                            class="align-middle text-center text-sm"
                                        >
                                            <span
                                                class="text-xs font-weight-bold"
                                            >
                                            {{ port.create_date|date:"Y-m-d" }}
                                            </span>
                                        </td>
                                        <td class="align-middle text-center text-sm"> 
                                            <a
                                                href="javascript:void(0)"
                                                class="delete btn btn-sm btn-outline-secondary mb-0"
                                                data-uri="{% url 'portfolio:port_delete' port_id=port.id %}"
                                                >DELETE</a
                                            >
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center">게시글이 없습니다.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <!-- 페이징처리 시작 -->
                        <ul class="pagination justify-content-center fixed-bottom mb-5">
                            <!-- 이전페이지 -->
                            {% if question_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" data-page="{{ 1 }}"
                                    href="javascript:void(0)">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" data-page="{{ question_list.previous_page_number }}"
                                    href="javascript:void(0)"><i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                                    ><i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                                        ><i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </a
                                    >
                                </li>
                            {% endif %}

                            <!-- 페이지리스트 -->
                            
                            {% for page_number in question_list.paginator.page_range %}
                                {% if page_number == 0 %}

                                {% elif page_number == 1 %}
                                    
                                    {% if page_number == question_list.number %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" data-page="{{ page_number }}"
                                            href="javascript:void(0)">{{ page_number }}</a>
                                        </li>
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" data-page="{{ page_number|add:1 }}"
                                            href="javascript:void(0)">{{ page_number|add:1 }}</a>
                                        </li>
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" data-page="{{ page_number|add:2 }}"
                                            href="javascript:void(0)">{{ page_number|add:2 }}</a>
                                        </li>
                                    {% endif %}


                                {% elif page_number > 1 and page_number < question_list.paginator.num_pages %}
                                    {% if page_number == question_list.number %}
                                        <li class="page-item">
                                            <a class="page-link" data-page="{{ page_number|add:-1 }}"
                                            href="javascript:void(0)">{{ page_number|add:-1 }}</a>
                                        </li>
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" data-page="{{ page_number }}"
                                            href="javascript:void(0)">{{ page_number }}</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" data-page="{{ page_number|add:1 }}"
                                            href="javascript:void(0)">{{ page_number|add:1 }}</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    {% if page_number == question_list.number %}
                                        <li class="page-item">
                                            <a class="page-link" data-page="{{ page_number|add:-1 }}"
                                            href="javascript:void(0)">{{ page_number|add:-1 }}</a>
                                        </li>
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" data-page="{{ page_number }}"
                                            href="javascript:void(0)">{{ page_number }}</a>
                                        </li>
                                        <li class="page-item disabled">
                                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                                                >{{ page_number|add:1 }}</a
                                            >
                                        </li>
                                    {% endif %}    
                                {% endif %}
                                
                            {% endfor %}
                            <!-- 다음페이지 -->

                            {% if question_list.has_next %}

                                <li class="page-item">
                                    <a class="page-link" data-page="{{ question_list.next_page_number }}"
                                    href="javascript:void(0)"><i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                                        ><i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a
                                    >
                                </li>
                            {% endif %}
                            {% if question_list.paginator %}
                                {% if question_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" data-page="{{ question_list.paginator.num_pages }}"
                                        href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#"
                                            ><i class="fa fa-angle-double-right" aria-hidden="true"></i></a
                                        >
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <!-- 페이징처리 끝 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<form id="articleSearchForm" method="get" action="{% url 'dash:article' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

<form id="portForm" method="post" action="{% url 'portfolio:index' %}">
    {% csrf_token %}
    <input type="hidden" id="port_title" name="title" value="{{ title|default_if_none:'' }}">
</form>



{% endblock articles %}

{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener("click", function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    const btn_port = document.getElementById("btn_port");
    btn_port.addEventListener("click", function (e) {
        e.preventDefault()
        document.getElementById("port_title").value = document.getElementById("add_port").value;
        document.getElementById("portForm").submit();
    });

    document
        .querySelector("#add_port")
        .addEventListener("keypress", function (e) {
            if (e.key === "Enter") {
                document.getElementById("port_title").value = document.getElementById("add_port").value;
                document.getElementById("portForm").submit();
            }
        });

    $('.my-link').bind('click', false);
</script>
{% endblock %}