#stock-chart{
    overflow: auto;  /* code added */
}

#ticker-search-input{
    width: 80vh;
    left: -45vh;
}
.stock-infos-hidden{
    display: none;
}

.macd-days-hidden{
    display: none;
}

.macd-days-show{
    margin-top: .5rem;
    margin-left: 1.5rem;

}

.indicator-days-hidden{
    display: none;
}

.indicator-days-show{
    margin-top: .5rem;
    margin-left: 1.5rem;

}

@media only screen and (max-width: 600px){
    #ticker-search-input{
        width: 20vh;
        left: 2vh;
    }
    .ticker-head{
        text-align: center;
    }
}