@media only screen and (max-width: 600px){
    body{
        overflow-y:scroll;
    }
    .articleTitle {
        max-width: 130px;
    }
    .newsTitle{
        max-width: 30vh;
    }

    .stock-logo{
        display: none;
    
    }

    .stock-long-name{
        display: none;
    }

    .stock-date{
        display: none;
    }
}

