{% extends 'base.html' %}
{% load static %}
{% load dash_filter %}

{% block style %}
    <!-- dash CSS -->
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'style.css' %}"
    />
{% endblock style %}
{% block content %}


<div class="contianer">
    {% if currency %}
    <div class="container text-center justify mb-5">

        <h3>Currency (KRW)  {{today}}</h3>
        <table class="table" id="table_id">
            <thead>
                <tr class="text-center table-dark">
                    <th>Code</th>
                    <th>Nation</th>
                    <th>Current</th>
                    <th>Day before</th>
                    <th>Day Change</th>
                    <th>Buy</th>
                    <th>Sell</th>
                    <th>Send</th>
                    <th>Receive</th>
                </tr>
            </thead>

            <tbody>
                {% for keys, val in currency.items %}
                    {% for code, dicts in val.items %}
                    <tr class="text-center">
                        <td>
                            {{ code }}
                        </td>
                        {% for key, value in dicts.items %}
                            <td class="text-start text-center " colspan="1"> 
                                {{ value }}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}

                {% endfor %} 
            </tbody>
        </table>
    </div>
    {% endif %}

</div>

{% endblock content %}


{% block script %}

{% endblock script %}