<script>
    window.onload = function () {
        var dataPoints1 = [], dataPoints2 = [], dataPoints3 = [];
        var stockChart = new CanvasJS.StockChart("chartContainer",{
            exportEnabled: true,
            theme: "light2",
            title:{
            text: `${stock_ticker.toUpperCase()} Stock Price`,
            },
            charts: [{
            toolTip: {
                shared: true
            },
            axisX: {
                lineThickness: 5,
                tickLength: 0,
                labelFormatter: function(e) {
                return "";
                },
                crosshair: {
                enabled: true,
                snapToDataPoint: true,
                labelFormatter: function(e) {
                    return ""
                }
                }
            },
            axisY2: {
                title: `${stock_ticker.toUpperCase()} Price`,
                prefix: "$"
            },
            legend: {
                verticalAlign: "top",
                horizontalAlign: "left"
            },
            data: [
                {
                    name: "Price (in USD)",
                    yValueFormatString: "$#,###.##",
                    axisYType: "secondary",
                    type: "candlestick",
                    risingColor: "red",
                    fallingColor: "blue",
                    dataPoints : priceDataPoints
                },
                {
                    type: "line",
                    showInLegend: true,
                    name: "Total Revenue",
                    axisYType: "secondary",
                    yValueFormatString: "$#,##0.00bn",
                    xValueFormatString: "YYYY-MM-DD",
                    dataPoints: financialDataPoints,
                },
                {
                    type: "line",
                    showInLegend: true,
                    name: "Cash",
                    axisYType: "secondary",
                    yValueFormatString: "$#,##0.00bn",
                    xValueFormatString: "YYYY-MM-DD",
                    dataPoints: balancePoints,
                },
                {
                    type: "line",
                    showInLegend: true,
                    name: "Net Income",
                    axisYType: "secondary",
                    yValueFormatString: "$#,##0.00bn",
                    xValueFormatString: "YYYY-MM-DD",
                    dataPoints: cashPoints,
                },
            ]
            },{
            height: 100,
            toolTip: {
                shared: true
            },
            axisX: {
                crosshair: {
                enabled: true,
                snapToDataPoint: true
                }
            },
            axisY2: {
                prefix: "",
                title: "Volume"
            },
            legend: {
                horizontalAlign: "left"
            },
            data: [{
                yValueFormatString: "€#,###.##",
                axisYType: "secondary",
                name: "Volume",
                dataPoints : volumeDataPoints
            }]
            }],
            navigator: {
            data: [{
                color: "grey",
                dataPoints: closeDataPoints
            }],
            slider: {
                minimum: new Date(2022, 06, 01),
                maximum: new Date(2022, 12, 31)
            }
            }
        });
}
</script>