{% extends 'base.html' %} {% block content %}

<div class="container">
    <div>
        <h3 class="text-center mt-5">Search Company</h3>
        <div class="container my-3 d-flex justify-content-center">
            <div class="col-6">
                <div class="input-group">
                    <input
                        placeholder="Search by Ticker (e.g. AAPL)"
                        type="text"
                        id="search_ticker"
                        class="form-control"
                        value="{{ ticker|default_if_none:'' }}"
                    />
                    <div class="input-group-append">
                        <button
                            class="btn btn-outline-secondary"
                            type="button"
                            id="btn_search"
                        >
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% if ticker == '' %} {% else %} {% endif %}
    </div>
</div>

<form id="searchForm" method="get" action="{% url 'analysis:company' %}">
    <input
        type="hidden"
        id="ticker"
        name="ticker"
        value="{{ ticker|default_if_none:'' }}"
    />
</form>

<div class="container">
    <div id="chartContainer" style="height: 370px; width: 100%"></div>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

<input type="hidden" id="stock_price" name="variable" value="{{ stock_price }}"/>
<input type="hidden" id="stock_ticker" name="variable" value="{{ ticker }}" />
<input type="hidden" id="stock_fs" name="variable" value="{{ financial }}" />

{% endblock content %} {% block script %}

<script>
    const btn_search = document.getElementById("btn_search");

    btn_search.addEventListener("click", function () {
        document.getElementById("ticker").value =
            document.getElementById("search_ticker").value;
        document.getElementById("searchForm").submit();
    });
    document
        .querySelector("#search_ticker")
        .addEventListener("keypress", function (e) {
            if (e.key === "Enter") {
                document.getElementById("ticker").value =
                    document.getElementById("search_ticker").value;
                document.getElementById("searchForm").submit();
            }
        });

    window.onload = function () {
        const stock_ticker = document.getElementById("stock_ticker").value;

        var dataPoints = [];
        var financialDataPoints = [];

        const fs_data = document.getElementById("stock_fs").value;
        const fs_data_json = JSON.parse(fs_data);
        for (
            let i = 0;
            i < Object.keys(fs_data_json["Date"]).length;
            i++
        ) {
            financialDataPoints.push({
                x: new Date(fs_data_json["Date"][i]),
                y: 
                    parseFloat(fs_data_json["Total Revenue"][i]) / 1000000000
                ,
            });
            console.log(financialDataPoints)

        }

        var chart = new CanvasJS.Chart("chartContainer", {
            zoomEnabled: true,
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            title: {
                text: `${stock_ticker.toUpperCase()} Stock Price`,
            },
            subtitles: [
                {
                    text: "",
                },
            ],
            axisX: {
                interval: 1,
                valueFormatString: "YYYY-MM-DD",
            },
            axisY: {
                prefix: "$",
                title: "Price",
            },
            toolTip: {
 
                shared: true,
            },
            data: [
                {
                    type: "candlestick",
                    yValueFormatString: "$##0.00",
                    dataPoints: dataPoints,
                },
                {
                    type: "line",
                    showInLegend: true,
                    name: "Total Revenue",
                    axisYType: "secondary",
                    yValueFormatString: "$#,##0.00bn",
                    xValueFormatString: "YYYY-MM-DD",
                    dataPoints: financialDataPoints,
                },
            ],
        });

        function getPriceData() {
            const price_data = document.getElementById("stock_price").value;
            const price_data_json = JSON.parse(price_data);
            for (
                let i = 0;
                i < Object.keys(price_data_json["Date"]).length;
                i++
            ) {
                dataPoints.push({
                    x: new Date(price_data_json["Date"][i]),
                    y: [
                        parseFloat(price_data_json["Open"][i]),
                        parseFloat(price_data_json["High"][i]),
                        parseFloat(price_data_json["Low"][i]),
                        parseFloat(price_data_json["Close"][i]),
                    ],
                });
            }


            chart.render();
        }
        console.log(dataPoints)

        getPriceData();

    };
</script>
{% endblock script %}


content:
"Date: {x}<br /><strong>Price:</strong><br />Open: {y[0]}, Close: {y[3]}<br />High: {y[1]}, Low: {y[2]}",