.dropdown-menu {
    top:210px;
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 12rem;
    padding: 0.5rem 0;
    margin: 0;
    color: #67748e;
    text-align: center;
    list-style: none;
    background-color: #f4f4f4;
    background-clip: padding-box;
    border: 0 solid transparent;
    border-radius: 0.5rem;
  }

  
.table-condensed{
    padding: 0 0 0 0;
    width: 10vh;
}

.prev {
    float: left;
}
.datepicker-days{
    display: flex;
    align-items: center;
    justify-content: center;
}

.datepicker-months{
    display: inline-block;
    align-items: center;
}

.datepicker-years{
    display: inline-block;
    align-items: center;
}
.month {
    display: block;
}
.year {
    display: block;
}




.day {
    padding: 0.2rem;
}

.datepicker-days th:first-child {
	color: #ff0000 !important;
}

.datepicker-days th:nth-last-child(1) {
	color: #0d47a1 !important;
}


div.datepicker-days table tbody tr td:first-child {
	color: #ff0000 !important;
}
div.datepicker-days table tbody tr td:nth-child(7) {
    color: #6fa2f0 !important;
}